@page "/categories/phone"
@* @attribute [Authorize] *@

<h3><b>Phone brands </b></h3>

<div class="pb">
    <ul>
        <li><a class="oi bi-apple" href="/categories/phone/iphone" @onclick="displayList">iPhone</a></li>
        <li>
            <NavLink class="nav-link" href="/categories/phone/samsung" Match="NavLinkMatch.All">
                <span class="oi bi-apple" aria-hidden="true"></span> Samsung
            </NavLink>
        </li>
        <li><a href="/categories/phone/pixel">Pixel</a></li>
        <li><a href="/categories/phone/huawei">Huawei</a></li>
        <li><a href="/categories/phone/oppo">Oppo</a></li>
        
    </ul>
</div> 

<br />

<h4>@brand</h4>

<button @onclick="displayList">Click me</button>

@code {
    private string brand = "iphone";

    private void displayList()
    {
        brand = "samsung";
    }
}
