@page "/categories/phone"

<h3>Phone brands</h3>

<div class="pb">
    <ul>
        <li><a class="oi bi-apple" href="/categories/phone/#iphone">iPhone</a></li>
        <li><a href="/categories/phone/#samsung">Samsung</a></li>
        <li><a href="/categories/phone/#pixel">Pixel</a></li>
        <li><a href="/categories/phone/#huawei">Huawei</a></li>
        <li><a href="/categories/phone/#oppo">Oppo</a></li>
        <span class="oi bi-apple">Apple</span>
    </ul>
</div>

@code {

}
