/*.pb ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: powderblue;
    padding: 5px;
}

.pb ul li {
    border: 2px solid black;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    cursor: pointer;
}

.pb li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 5px;
}

.pb li a:hover{
    border-radius: 20px;
    background-color: gray;
}

.navlink {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 5px;
}*/

a{
    text-decoration: none;
    border: 1px solid black;
}

.brands{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 50px;
    background-color: powderblue;
}

.product-details-box {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}
