@page "/categories/phones"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js
@* @attribute [Authorize] *@

<h3><b>Phone brands </b></h3>


@if(Brands != null)
{
    
    <div class="pb">
        <div class="brands">
        @foreach(var brand in Brands)
        {
                <a href="/categories/phone/@brand.Name">@brand.Name</a>
        }
        </div>
    </div>
}


<br />

@code {
    private List<Brand>? Brands;

    protected override async Task OnInitializedAsync()
    {
        Brands = await _client.GetFromJsonAsync<List<Brand>>($"{Endpoints.BrandsEndpoint}");
    }

}
