@page "/"
@inject HttpClient _client
@inject NavigationManager _navManager

<PageTitle>Index</PageTitle>

<h1>Landing Page</h1>


@if(News == null)
{
    <div class="alert alert-info">Loading news...</div>
}
else
{
    @foreach (var news in News)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/iphone13.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@news.Title</h5>
                        <p class="card-text">@news.Description</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code{
    private List<News>? News;
    protected async override Task OnInitializedAsync(){
        News = await _client.GetFromJsonAsync<List<News>>($"{Endpoints.NewsEndpoint}");
    }
}




