@page "/category/create"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject IJSRuntime js
@inject HttpInterceptorService _interceptor


<h3 class="card-title">Add Category</h3>
<hr />
<br />

<FormComponent ButtonText="Add Category" category="category" OnValidSubmit="@CreateCategory" />

@code {
	Category? category = new Category();

	private async Task CreateCategory()
	{
		await _client.PostAsJsonAsync(Endpoints.CategoriesEndpoint, category);
		_navManager.NavigateTo("/category", true);
	}

}
