@page "/products/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Product</h3>
<hr />
<br />

<FormComponent ButtonText="Create Product" product="product" OnValidSubmit="@CreateProduct" />

@code {
	Product? product = new Product();

	private IList<Brand>? Brands;

	protected async override Task OnInitializedAsync()
	{
		Brands = await _client.GetFromJsonAsync<IList<Brand>>($"{Endpoints.BrandsEndpoint}");
	}

	private async Task CreateProduct()
	{
		await _client.PostAsJsonAsync(Endpoints.ProductsEndpoint, product);
		_navManager.NavigateTo("/products/");
	}
}
