@page "/products/edit/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager _navManager

<h3>Edit Product</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditProduct" product="product" />

<br />
<a href="/products/" class="btn btn-outline-dark btn-block">
	<span class="oi oi-arrow-left"></span>	
	Back To Products Page
</a>

@code {
	[Parameter] public int id { get; set; }

	Product? product = new Product();
	Review? review = new Review();

	protected async override Task OnParametersSetAsync()
	{
		product = await _client.GetFromJsonAsync<Product>($"{Endpoints.ProductsEndpoint}/{id}");
	}

	async Task EditProduct()
	{
		await _client.PutAsJsonAsync($"{Endpoints.ProductsEndpoint}/{id}", product);
		_navManager.NavigateTo("/products/");
	}
}
