a{
    text-decoration: none;
    width: 450px;
}

.comment-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 200px;
    width: 450px;
    border: 1px solid black;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}

.container:hover{
    cursor: pointer;
}

.container .title{
    padding: 5px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.container .title i{
    font-size: 2em;
}

.container .icons{
    width: 200px;
    display: flex;
}

.body{
    padding: 0px 0px 10px 20px;
}

.body .content{
    padding: 0;
}

.body a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer{
    padding: 10px;
}

.star-rating {
font-size: 24px;
color: gold;
padding: 0px;
}

.star-rating::before {
    content: '★';
}

.star-rating[data-rating="0"]::before {
    content: '☆☆☆☆☆'; /* 5 hollow stars for a rating of 0 */
}

.star-rating[data-rating="1"]::before {
    content: '★☆☆☆☆';
}

.star-rating[data-rating="2"]::before {
    content: '★★☆☆☆';
}

.star-rating[data-rating="3"]::before {
    content: '★★★☆☆';
}

.star-rating[data-rating="4"]::before {
    content: '★★★★☆';
}

.star-rating[data-rating="5"]::before {
    content: '★★★★★';
}
