a{
    text-decoration: none;
    width: 450px;
}

h5 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.review-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 200px;
    width: 450px;
    border: 1px solid black;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}

.container:hover{
    cursor: pointer;
}

.container .title{
    padding: 5px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.container .title i{
    font-size: 2em;
}

.container .icons{
    width: 200px;
    display: flex;
}

.body{
    padding: 0px 0px 10px 20px;
}

.body .content{
    padding: 0;
}

.body a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer{
    padding: 10px;
}

.star-rating {
font-size: 24px;
color: gold;
padding: 0px;
}

.star-rating::before {
    content: '★';
}

.star-rating[data-rating="0"]::before {
    content: '☆☆☆☆☆'; /* 5 hollow stars for a rating of 0 */
}

.star-rating[data-rating="1"]::before {
    content: '★☆☆☆☆';
}

.star-rating[data-rating="2"]::before {
    content: '★★☆☆☆';
}

.star-rating[data-rating="3"]::before {
    content: '★★★☆☆';
}

.star-rating[data-rating="4"]::before {
    content: '★★★★☆';
}

.star-rating[data-rating="5"]::before {
    content: '★★★★★';
}

.card{
    max-width: 450px;
    margin: 20px;
}

.card:hover {
    cursor: pointer;
}

.card .img{
    width: 200px;
}

.description {
    display: grid;
    grid-template: 800px / 2fr 1fr;
    gap: 10px;
    
}

.product-details {
    display: grid;
    grid-template: auto auto 200px auto auto / 1fr;
    border: 1px solid black;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.product-details p{
    padding: 5%;
}

.product-details .title {
    font-size: 3rem;
}

.product-details .pricing {
    font-size: 2rem;
}

.product-details .colours {
    border: 1px solid black;
    font-size: 1.5rem;
}




